@import 'https://fonts.googleapis.com/css?family=Indie+Flower&display=swap';
@import 'https://fonts.googleapis.com/css?family=Pacifico&display=swap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header
{
    position: relative;
    height: 100px;
}
header .top_of_nav
{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    width: 95%;
    float: right;
    padding: 0 30px;
    background: #000;
}
header .top_of_nav a
{
    color: white;
    font-size: 12px;
}
header .top_of_nav .left
{
    width: 83%;
}
header .top_of_nav .right
{
    height: 100%;
    width: 17%;
    text-align: right;
    /* display: table; */
}
header .top_of_nav .right ul
{
    list-style: none;
    width: 100%;
    height: 100% !important;
    /* border: 1px solid #fff; */
    display: table-cell;
    vertical-align: middle;
}
header .top_of_nav ul li
{
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    color: #ddd;
}
header .top_of_nav ul li:last-child
{
    border-left: 1px solid #ddd;
}
header .logo_box
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    z-index: 2;
}
header .logo_box img
{
    width: 100px;
    height: 90px;
}
header nav
{
    width: 95%;
    float: right;
    z-index: 1;
}
header nav ul
{
    width: 100%;
}
header nav ul li
{
    width: 30%;
    text-align: center;
    border-right: 1px solid #ddd;
}
header nav ul li:last-child
{
    border-right: none;
}
header nav ul li a 
{
    font-weight: bold;
    cursor: pointer;
}
.carousel
{
    width: 100%;
    overflow-y: hidden;
    margin-top: -18px;
    position: relative;
    z-index: 3;
}
.carousel .carousel-inner .carousel-item
{
    height: 65vh;
}
 .carousel .carousel-inner .carousel-item img
{
    width: 100%;
    height: 100%;
}
.carousel .box
{
    height: 65vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 2;
    top:0;
    left: 0;
}
.carousel .content
{
    position: absolute;
    z-index: 3;
    top:30%;
    text-align: center;
    width: 100%;
    height: 300px;
}
.carousel .content h1
{
    overflow: hidden;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
}
.carousel .circle-nav
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border:3px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 3;
}
.carousel .circle-nav a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.destiation_info
{
    width: 100%;
    height: 25vh;
    overflow: hidden;
    background: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
}
.destiation_info .row
{
    position: relative;
    height: 10vh;
    overflow: hidden;
}
.destiation_info .row div
{
    height: 20vh;
}
.destiation_info .row div .line-left
{
    position: absolute;
    top: 20%;
    right: 0;
    height: 2px;
    background: #fff;
    width: 80%;
}
.destiation_info .row div .line-right
{
    position: absolute;
    top: 20%;
    left: 0;
    height: 2px;
    background: #fff;
    width: 80%;
}
.destiation_info .row div .destiation_title
{
   text-align: center;
   overflow: hidden;
   margin-top: 10px;
   color: #fff;
}
.destination_details
{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}
.destination_details div
{
    padding: 0 20px;
}
main
{

}
.img_box
{
    height: 375px;
    width: 248px;
}
.adventure
{
    padding: 25px;
    
}
.img_box img
{
    width: 248px;
    height: 100%;
    /* display: none; */
}
.img_box:hover
{
    
}
.image_section
{
    display: flex;
    justify-content: space-around;
}
.title_adventure_back
{
    position: relative;
}
.title_adventure_back h1
{
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    margin: 30px 0;
    font-size: 130px;
    color: rgba(0,0,0,0.1);
    text-align: center;
}
.overlay_text
{
    overflow: hidden;
}
.overlay_text h2
{
    position: absolute;
    overflow: hidden;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8c8c8c;
}
.overlay_text h3
{
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #404040;
    font-weight: 700;
}

